section{
    height: 100vh;
    p{
        width: 50%;
        margin: 0 auto;
        margin-top: 100px;
    }    
    i{
        color: whitesmoke;
        font-size: 3rem;
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }
}