@font-face {
  font-family: 'Agbalumo';
src: url(../font/Agbalumo-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body{
  background: url("./img/pepe.jpg") center/cover fixed;
  font-family: Agbalumo, sans-serif;
}